
body {
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}

header {
    background-color: #1F2937;
    padding: 16px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto;
    padding: 0 16px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 24px;
}

.header-text {
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero Section */
.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 40px 16px;
}

.hero-container {
    max-width: 70%;
}

.hero-text {
    max-width: 450px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 16px;
}

.hero-subtext {
    font-size: 18px;
    margin-bottom: 24px;
}

.image-placeholder img {
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.button {
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    background-color: #3882F6;
    color: white;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #1b6ef4;
}

/* Information Section */
.information {
    padding: 40px 16px;
    text-align: center;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 16px;
}
