html, body {
    margin: 0;
    padding: 0;
}

.hero-section {
    display: flex;
    background-color: #1F2937;
    height: 550px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 70%;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70%;
}

.hero-main-text {
    font-family: "Roboto", sans-serif;
    width: 400px;
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-subtext {
    font-family: "Roboto", sans-serif;
    margin: 5px;
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
    text-wrap: wrap;
}

.header-logo {
    margin: 0;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-text {
    margin: 0;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #E5E7EB;
}

#image-placeholder {
    width: 500px;
    height: 250px;
    margin-left: auto;
    background: grey;
    transform: translateY(-150px);
}