body {
    display: flex;
    font-family: 'Roboto', 'sans-serif';
    flex-direction: column;
    box-sizing: border-box;
    height: 1900px;
    margin: 0;
}

header {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    background-color: #1F2937;
    height: 550px;

    .header-container {
        display: flex;

        .header-logo {
            display: flex;
            font-size: 24px;
            color: #F9FAF8;
        }

        .header-links {
            display: flex;
            gap: 1.5rem;
            font-size: 18px;
            color: #E5E7EB;
        }
    }
}